@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Okra', Helvetica;
}

body{
    background-color: white;
}

:root{
    --main-color: #131313;
    --main-color-light: rgba(0, 0, 0, 0.8);
    --blue-color: #00A5DC;
    --reddark-color: #D11343;
    --disabled-button: #cdcdcd;
    --category-card-width: 13vw;
}

/* utility class */

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 0px !important;
    padding: 0px !important;
    
}

.main-nav{

    margin: 0px !important;
    /* padding: 0px !important; */

    justify-content: space-around !important;
    
    display: flex;
    
    border-bottom: 1px solid #CDCDCD;
    
    padding: 5px;
    
    align-items: center !important; 
    background-color: white;

    /* transparent */
    /* background: linear-gradient(to top left, #ffffff33, #ffffff11);
    backdrop-filter: blur(8px); */

    position: relative;

    flex-wrap: wrap;

    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 99;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.company-logo{
    align-items: center;
}

.location-header{
    align-items: center !important;
    justify-content: center !important;
    /* gap: 30px; */
}

.header-loc-text{
    margin: 10px;
    flex-direction: column;
}

.location-container-location{
    color: #737373;
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
    text-align: start;
    margin-bottom: none !important;
}

.location-container-location-down{
    font-size: 1rem;
    padding: 0px !important;
    margin: 0px !important;
}

.location-container-location-down p{
    padding: 0px !important;
    margin: 0px !important;
}

.search-area{
    gap: 5px;
    align-items: center;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    min-height: 50%;
    min-width: 33%;
    gap: 10px;
    padding: 10px;
    

    

}

.search-area:hover{
    border: 1px solid var(--reddark-color);
}

.search-icon img{
    height: 100%;
}

#search-box-field{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #737373;

    font-size: 1rem;
}

.searchbox{
    border: none;
    outline: none;
}



.header-categories{
    display: flex;
    gap: 5px;
    font-size: 1rem;

    align-items: center !important;
    justify-content: center;
    text-align: center;
}

.primary-button{
    background-color: #00A5DC;
    color: white;
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    gap: 8px;
    border: none;
    font-weight: 700;
}

.primary-button:hover{
    background-color: var(--reddark-color);
}


/* login container */

.login-container{
    width: 80%; /* 50% of viewport width */
    height: 80%;
        /* margin-block: 100px; */
    margin-inline: 10%;
    border-radius: 20px;
    background-color: white;
    position: relative;

    margin-top: 110px;
    margin-bottom: 30px;

}

.login-image{
    min-height: 100%;
    min-width: 50%;

    vertical-align: middle;
    
    background-color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    border-radius: 20px;

    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%), url('assets/asset\ 3.png');
    background-size: 50% 100%, cover; 
    background-position: left, center; 
    background-repeat: no-repeat; */
}

.login-screen{
    align-items: center;
    justify-content: center;
    margin-inline: 10%;
    font-size: 1rem;

}

.login-screen h2{
    margin-bottom: 30px;
}

.input-field{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.3rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: black;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 2px solid #f5f5f5;
    transition: 0.1s ease-in-out;
}

.input-field:hover{
    border: 2px solid #009dd1;
}

.gender-form{
    margin-top: 10px;
}

.submit-button{
    margin-top: 30px;
    padding: 20px 100px;
    justify-self: center;

}

.submit-btn{
    justify-content: center;
    align-items: center;
}

/* footer section */

.sub-footer1{
    background-color: #EFEFEF;
    padding: 3%; 
    align-items: start !important;
    text-align: start !important;
    justify-content: start  !important;
    width: 100%;
    flex-wrap: wrap;

}
.categories ul{
    margin-block: 10px;
}

.categories h2{
    font-size: 1.5rem;
}


.categories ul li{
    margin-block: 10px;
    padding: 0px;
    text-align: start !important;
}

.categories{
    width: 22%;
}

.categories2 ul{
    margin-block: 10px;
}

.categories2{
    width: 23%;
    margin-block-start: 25px;

}

.categories2 ul li{
    margin-block: 10px;
    padding: 0px;
    text-align: start !important;
}

.customerservice{
    width: 23%;

}

.customerservice h2{
    font-size: 1.5rem;
}

.customerservice2 h2{
    font-size: 1.5rem;
}

.customerservice2{
    width: 23%;
}

.customerservice ul li{
    margin-block: 10px;
    padding-left: 0px !important;
    text-align: start !important;
}

.ol{
    padding-left: 0px !important;
}

.customerservice{
    align-items: start !important;
}

.customerservice2 p{
    margin-block: 10px;
    line-height: 1.5rem;
}

.footer-items{
        font-size: 1rem;
        transition: 0.1s ease-in-out;
}
.footer-items:hover{
    cursor: pointer;
    color: var(--reddark-color) ;

}

.followbar{
    margin-block: 10px;
}

.footer1{
    background-color: #FFF;
    color: #737373;
    padding: 20px;
    text-align: center !important;
    width: 100%;
}

.footer1 p{
    margin: 0px !important;
}

/* aod icons */

p{
    margin: 0px !important;
    padding: 0px !important;
}


.icon-1{
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin-inline: 5px;
    
    height: 5vh;
    width: 5vh;
    border-radius: 10px;

    cursor: pointer;
}

.icon-2{
    position: fixed;
    bottom: 5px;
    right: calc(5vh + 11px);
    margin-inline: 5px;
    
    height: 5vh;
    width: 5vh;
    border-radius: 10px;

    cursor: pointer;
}


/* #wp-icon{
    position: fixed;
    bottom: 2px;
    right: 7%;
}

#to-top{
    position: fixed;
    bottom: 2px;
    right: 1%;
} */


.mobile-view{
    display: none;
}



/* hero section */

.hero-section{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20px;

    background-color: white;
}   

.banner img{
    width: 96%;
    margin-inline: 2%;
    border-radius: 4vw;
}

.deco-images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: -13%;
    margin-inline: 5vw;

}

.deco-images img{
    background-color: rgb(191, 231, 224);
    border-radius: 3vw;
    padding: 2vw;
    width: 25vw;
}

.moving-images{
    width: 96%;
    margin-inline: 2%;
    margin-block: 5vh;
}

.carousel-item img{
    border-radius: 30px;
}

/* categories-section */

.categories-section{
    width: 96%;
    margin-inline: 2%;
    margin-block: 5vh;

    
}

.categories-section h2{
    font-size: 1.5rem;
}

.cat-sec-images{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* grid-template-columns: repeat(5, 1fr); */
    /* flex-wrap: wrap; */
}


.categorie-card{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;

    cursor: pointer;
}

.categorie-card p{
    display: flex;
    font-size: 0.8rem;
    width: 130px;
    text-align: center;

    align-items: center !important;
    justify-content: center;
}

.categories-section img{
    background-color: #e1f3fa;
    border-radius: 10px;

    width: 130px;
    padding: 15px;
    margin: 10px;

}

/* exotic-fruits-section */

.header-categorie-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-categorie-names p{
    color: #00A5DC;
}

.exotic-fruits{
    width: 96%;
    margin-inline: 2%;
    margin-block: 5vh;

}

.exotic-fruits h2{
    font-size: 1.5rem;
}

.item-card{
    width: var(--category-card-width);
    
    /* padding: 5px; */
    border-radius: 10px;

    cursor: pointer;
}

.item-name{
    font-size: .8rem;
    /* width: var(--category-card-width); */
    width: var(--category-card-width);
     white-space: nowrap; 
     /*     Prevent text from wrapping */
     overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;
}

.red-badge{
    background-color: var(--reddark-color) !important;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 5px;
    position: absolute;
    top: 0px; 
    padding: 0.3rem;
    color: white;
    right: 0px;
    border-top-right-radius: 10px; 
}

.blue-badge{
    background-color: var(--blue-color) !important;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    padding: 0.3rem;
    color: white;
    left: 0px; 
    border-top-left-radius: 10px;
}


.badges{
    align-items: center;
    justify-content: space-between;
} 

.item-photo{
position: relative;

    display: flex;
    flex-direction: column;
    width: var(--category-card-width);
    background-color: #f5f5f5;
    border-radius: 10px;
    /* align-items: center; */
    justify-content: center;
    
    padding-inline: 1vw;

    padding-block: 1rem;
}

.item-photo-sb{
    display: flex;
    flex-direction: column;
    width: var(--category-card-width);
    background-color: #f5f5f5;
    border-radius: 10px;
    /* align-items: center; */
    justify-content: center;
    
    padding-inline: 1vw;

    padding-bottom: 1rem;

   
}


.item-photo img{
    width: calc(var(--category-card-width) - 2vw);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.item-photo-sb img{
    width: calc(var(--category-card-width) - 2vw);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.item-price p{
    font-size: 0.7rem;
    text-decoration: line-through;
    color: #737373;
}

.item-price b{
    font-size: 0.9rem;
}

.dropdown-toggle{
    width: var(--category-card-width);
    background-color: #f5f5f5 !important;
    color: black !important;
    border: none !important;
    
    justify-content: space-between !important;
    
    
}

.item-dropdown{
    display: flex;
    align-items: start;
    
}



.dropdown-menu{
    background: white !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.price-add{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.item-add i{
    width: calc(var(--category-card-width) /2.8);
    padding-block: 7px;
    margin: 0;
    background: #e1f3fa;
    color: #00A5DC;
    border: none;
    border-radius: 5px ;

}

.category-items{
    display: flex;
    flex-direction: row;
    overflow: hidden;

    align-items:stretch;
    justify-content: flex-start;

    overflow: block;
    gap: 12px;

    width: 100%;
    
}

.new-arrival{
    font-size: 0.5rem;
    color: white;
    background-color: var(--reddark-color);

    margin-top: -50%;

    position: relative;
    z-index: 12;
}

/* discount banner */

.discount-banner-img{
    width: 96%;
    margin-inline: 2%;
    margin-block-end: 2%;
    border-radius: 2vw;
}


/* banner-images */

.banner-images{
    width: 96%;
    margin-inline: 2vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-block: 2%;
}

.banner-images img{
    width: 22vw;
    border-radius: 10px;
}

.about-section{
    width: 96%;
    margin-inline: 2%;
    margin-bottom: 2vw;
}

.about-section-logo{
    width: 20vw;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section-logo img{
    width: 10vw;
}

.about-section-text{
    width: 75vw;

}

.about-section-text p{
    text-align: justify;
    font-size: 0.9rem;
}


::selection {
    background-color: var(--blue-color); /* Change the background color */
    color: white; /* Change the text color */
  }


.mobile-footer{
    display: none;
}


@media (max-width: 1399px)
{
.grid-col {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
}